
<h1 style="background-color:DodgerBlue;">Listing Playlist</h1>
 <%= image_tag "photo-manipulation-g1c5a058bc_1920.jpg", height: 300 %>


<%= link_to 'New playlist entity', new_playlist_path %>
<table>
  <tr>
    <th>Title</th>
    <th>Options</th>
    <th colspan="3"></th>
  </tr>
 
  <% @playlists.each do |entity| %>
    <tr>
      <td><%= entity.title %></td>
      <td><%= link_to 'Show', playlist_path(entity) %></td>
      <td><%= link_to 'Edit', edit_playlist_path(entity) %></td>
      <td><%= link_to 'Destroy', playlist_path(entity),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>